name: Pack

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP excluding docs
        run: |
          mkdir -p build
          zip -r build/project.zip . -x "docs/*" ".git/*" ".github/*"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/HL_UEVR.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
